*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


/*  start hero section css  */
.tourtravel{
    background-image: url(../img/bg.png);
    height: 552px;
    background-size: cover;
   
}



.navbar
{
    display: flex;
    justify-content: space-between;
    padding: 12px 2rem;
    color:white;
    background-color: #98294C
    
    
}
.navbaritems{
    margin-top: 9px;
}

.navbar a{
    margin: 12px;
    text-decoration: none;
   color: rgb(255, 253, 253);
   font-size: 19px;
}

.navbar a:hover{
    background-color: rgb(251, 0, 59);
    padding: 24px;
    border-radius: 3px;
}
.active{
    background-color: rgb(251, 0, 59);;
    padding: 24px;
}
.explore
{
    padding: 5rem 21rem;
    color: white;
    margin-top: 12px;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
}

.ifcontent

{
    display: flex;
    gap: 4rem;
    padding: 2rem 8rem;
    height: 12px;
    background-color:white;
    align-items: center;
    border-radius: 10px;
line-height: 22px;
}
.iform
{
    background-color: rgba(20, 21, 20, 0.902);

    border-radius: 8px;
    padding: 2rem;
    width: 1120px;
    margin-top: 8px;
    margin-left: 90px;
    
}
.ifbutton button
{
    height: 27px;
    width: 123px;
    border-radius: 4px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
}
.hr
{
    height: 8px;
    background-color: rgb(193, 171, 149);
    
}
/* end hero section css */

/* start card css */
.images {
    height: 200px;
    width: 266px;
    border-radius: 10px;
}

.cardsection {
    display: flex;
    gap: 4.5rem;
    align-items: center;
    padding: 40px 8rem;
  
    margin-top: 12px;
}

.Trandings {
    Display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.card1 {
    padding: 1rem;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.cardcontent2 {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    gap: 63px;

}

.ratings_cust {
    text-align: right;
}

span {
    color: goldenrod;
}

.cardcontent1 {
    line-height: 25px;
    padding: 1rem 0rem;
}

b {
    font-size: 24px;
}

.Trandings {
    padding: 0 2rem;
}

.Ticon i {
    border-radius: 60px;
    padding: 0.5rem;
    font-size: 20px;

    border: 1px solid;
    }
    /* end card css */
    /* start grid */
    .grid
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 9px;
       padding: 2rem 5rem;
        width: 78.9rem;
        height: 41rem;
        background-color: #E8EAEC;
        
     }
     .div1 {
        grid-row-start: 1;
        grid-row-end:3 ;
        grid-template-columns: 200px;
     }
     
    .grid img{
        height: 18rem;
        width: 15rem;
        border-radius: 12px;
    }
    .div2
    {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .div1 img
    {
        width: 21rem;
        height: 34rem;
    }
    .div2 img{
        width: 32rem;
    }

.div4 img
{
    width: 16rem;
    height: 15rem;
}
.div5 img
{
    width: 16rem;
    height: 15rem;
}
    .div6 img{
        height: 15rem;
    }

    .grid h4{
        text-align: center;
        font-family: "Poppins", sans-serif;
    }
.headings p{
    color: #38404F;
    font-size: 45px;
    margin-left: 22px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    
}    
    
    /* video tour css */
    .parent {
        background-image: url(../img/vbg3.jpg);
        height: 420px;
        background-size: cover;
        margin: 23px 1rem;
      
        

    }

    .child1 {

        transform: translateY(4rem);
        width: 600px;
        margin-inline: auto;


    }

    .Tour {
        padding: 0 2rem;
        color: white;

    }
    .h1{
        padding: 1rem 9rem;
    width: 666px;
    }
    /* end video tour css */
    /* subscribe and updated */
    .maindiv {
        background-image: url(../img/ss1.jpg);
        height: 20rem;
        background-size: cover;
        margin-top: 1rem;



    }

    .contentdiv {
        padding: 6rem;
        text-align: center;
        line-height: 1rem;
    }

    .sub h1 {
        color: white;
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        
    }
    .sub{
        padding: 2rem;
    }

    .email {
        background-color: white;
        height: 3rem;
        border-radius: 8px;
        display: flex;


    }

    .inputdiv input {
        width: 56rem;
        border: none;
        margin: 16px;
        outline: none;

    }



  .inputdiv  button {
        padding: .75rem 1.5rem;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: red;
        color: white;
        font-size: 1rem;
        font-weight: 600;
    }
    /* end subscribe */
    /* best seller */
    .bs{
         display: flex;
         justify-content: space-between;
         margin-top: 48px;
         padding: 0 2rem;
         
    }

    .cardimg1 img{
        height: 220px;
        width: 335px;
        border-radius: 12px;
    }
    .bscardimgs
    {
        display: flex;
        gap: 32px;
        margin: 1rem 7rem;
    
    }
    .bscardcontent{
        display: flex;
        margin: 0 6rem;
        gap: 44px;
        text-align: center;
    }
    .bs button{
        padding: .75rem 1.5rem;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: red;
        color: white;
        font-size: 1rem;
        font-weight: 600;
    }

    /* clients feedback */
    .feedbackcard {
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 0 4rem;
        margin-top: 22px;
    }

    .Head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem;
        margin-top: 34px;

    }

    .icon {
        font-size: 2rem;
    }

    .c2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 66px;

    }

    .card2 {

        padding: 20px 2rem;
        box-shadow: 1px 1px 7px;
        height: 260px;
        
    }

    .img1 {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 11px;

    }

   .feedbackcard img {
        border-radius: 50%;
        width: 45px;
    }

    .clientname {
        line-height: 23px;
    }

    .icon-1 p {
        font-size: 47px;
        color: red;
        padding: 12px 0 3rem;
    }

    .icon2 i {
        color: goldenrod;
        font-size: 15px;

    }
    /* end clients feedback */
    /* guide */
    .guide img{
        height: 220px;
        width: 300px;
    }
    .guide{
        display: flex;
        align-items: center;
        margin-top: 22px;
        padding: 1rem 12rem;
        gap: 28px
    }
    .name{
display: flex;
align-items: center;
padding: 1rem 1rem;
    gap: 100px;

    }
    .gc1{
        box-shadow: 1px 3px 14px;
        height: 24rem;
        text-align: center;
    }
    .name p{
        color: red;
    }
    .tourguide p
    {
        margin-top: 22px;
    }
/* end guide */
    /* footer */
    
    footer
    {
        background-image: url(../img/bg3.jpg);
        
        color: white;
        font-size: 17px;
    }
    
    .footer {
        display: flex;
        gap: 11rem;
        padding: 2rem 3rem;
        height: 10px;
       


    }

    .fa  a{
        text-decoration: none;
        color: black;
        line-height: 2rem;
        color: white;
    }

    .aboutcodeware {
        width: 14rem;
    }

    .copyright {
        text-align: center;
        margin-top: 16.1rem;
    }

    .icon3 i {
        border-radius: 60px;
        padding: 0.5rem;
        background-color: red;
        color: white;
        
    }
    .icon3
    {
        margin-top: 1rem;
    }